## Task 3 – Test & Train Data Preparation

In [1]:
# importing pandas library
import pandas as pd
import numpy as np

In [2]:
# Loading clean data file to pandas dataframes 
data=pd.read_csv("clean_data.csv")

In [3]:
data['Crop Type'] = data['Crop Type'].astype('category')
data['Location'] = data['Location'].astype('category')

In [4]:
# converting crop type data to codes
data['Crop Type'] = data['Crop Type'].cat.codes

In [5]:
data["Crop Type"].value_counts()

Crop Type
2    47
0    37
1    36
Name: count, dtype: int64

In [6]:
data['Location'] = data['Location'].cat.codes

In [7]:
data["Location"].value_counts()

Location
0    40
2    40
1    40
Name: count, dtype: int64

In [8]:
# dropping observer column as it is not required for predicting targets, yield and crop damage
data = data.drop("Observer", axis=1)

In [9]:
# Mapping Crop Damage column values from 'Y' and 'N' to '0' and '1'
data["Crop Damage"] = data["Crop Damage"].map({"N": 0, "Y": 1})

data["Heat Wave"] = data["Heat Wave"].map({"N": 0, "Y": 1})
data["Dry Spell"] = data["Dry Spell"].map({"N": 0, "Y": 1})
data["Cold Wave"] = data["Cold Wave"].map({"N": 0, "Y": 1})
data["Wet Spell"] = data["Wet Spell"].map({"N": 0, "Y": 1})
data["Irrigation"] = data["Irrigation"].map({"N": 0, "Y": 1})

In [24]:
data

,Year,Location,Avg Min Temp *C,Yr Rain mm,Heat Wave,Dry Spell,Cold Wave,Wet Spell,Irrigation,Crop Type,Crop Damage,Yield
0,1980,0,20.1,689.05,0,0,1,0,1,0,1,1311.32
1,1980,2,23.0,616.88,0,0,1,0,1,2,1,1025.88
2,1980,1,21.4,1164.65,0,0,0,0,0,0,0,1194.53
3,1981,0,20.0,813.75,0,0,1,0,1,1,1,1608.54
4,1981,2,23.4,566.16,0,0,0,0,1,2,0,1035.73
...,...,...,...,...,...,...,...,...,...,...,...,...
115,2018,0,22.3,1580.15,1,0,0,1,1,1,0,1703.12
116,2018,1,23.0,2030.51,0,0,0,1,0,0,1,1173.82
117,2019,1,23.3,1909.04,0,0,0,1,0,1,1,1467.49
118,2019,0,22.3,1834.86,1,0,0,1,1,1,0,1701.68
119,2019,2,25.0,1287.26,1,0,0,1,1,0,0,1473.33

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
# Dataset a, Yield as the target
data_a_X = data.drop(['Yield'], axis=1)
data_a_y = data['Yield']

# Dataset b, Crop Damage as the target
data_b_X = data.drop(['Crop Damage'], axis=1)
data_b_y = data['Crop Damage']

In [12]:
# Split Dataset a into training and testing sets
a_X_train, a_X_test, a_y_train, a_y_test = train_test_split(data_a_X, data_a_y, test_size=0.2, random_state=42)

# Split Dataset b into training and testing sets
b_X_train, b_X_test, b_y_train, b_y_test = train_test_split(data_b_X, data_b_y, test_size=0.2, random_state=42)

# Save the datasets to the specified filenames
a_X_train.to_csv("a_X_train.csv", index=False)
a_y_train.to_csv("a_y_train.csv", index=False)
a_X_test.to_csv("a_X_test.csv", index=False)
a_y_test.to_csv("a_y_test.csv", index=False)

b_X_train.to_csv("b_X_train.csv", index=False)
b_y_train.to_csv("b_y_train.csv", index=False)
b_X_test.to_csv("b_X_test.csv", index=False)
b_y_test.to_csv("b_y_test.csv", index=False)

In [15]:
!jupyter nbconvert --to html task_3.ipynb

[NbConvertApp] Converting notebook task_3.ipynb to html
[NbConvertApp] Writing 599446 bytes to task_3.html